  <% flash.each do |name, msg| %>
    <%= content_tag :div, msg, class: "alert alert-info" %>
  <% end %>

<h1>Listing habits</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Co2 reduction</th>
      <th>Popularity</th>
      <% if current_user %>
        <th>Choose</th>
      <% end %>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @habits.each do |habit| %>
      <tr>
        <td><%= habit.name %></td>
        <td><%= habit.description %></td>
        <td><%= habit.co2_reduction %></td>
        <td><%= habit.popularity %></td>
        <% if current_user %>
          <td><%= link_to 'Add habit your list', add_habit_path(habit.id) %></td>
        <% end %>
        <td><%= link_to 'Show', habit %></td>
        <td><%= link_to 'Edit', edit_habit_path(habit) %></td>
        <td><%= link_to 'Destroy', habit, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Habit', new_habit_path %>
